.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  
    img {
      margin-right: 0.5rem;
    }
  }
  
  .navbar-nav {
    .nav-link {
      font-size: 1.1rem;
      margin-right: 1rem;
    }
  }
  
  .form-control {
    width: 250px;
  
    @media (max-width: 992px) {
      width: 150px;
    }
  }
  
  .d-flex {
    .btn {
      margin-left: 0.5rem;
    }
  }
  