.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .slider {
      width: 100%;
    }
  
    .ticks-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .tick {
      font-size: 0.8rem;
    }
  }
  